body {
    background-color: mintcream;
    background-image: url("https://www.google.com/search?q=fitness+center+&tbm=isch&ved=2ahUKEwjnrveosM_lAhWQNewKHQodAtoQ2-cCegQIABAA&oq=fitness+center+&gs_l=img.3..0j0i30l9.2431.3111..3768...0.0..0.120.298.3j1......0....1..gws-wiz-img.......0i24j0i8i30j0i5i30j0i19j0i8i30i19.TnT-1M8pGng&ei=Knu_XefxIJDrsAeKuojQDQ&bih=821&biw=1440#imgrc=6cjfxwT2_RnO4M");

}

.loginBox {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10x;
    background-color: antiquewhite;
    text-align: center;
    border: 15px solid green;
    width: 350px;
}

.loginBox p1 {
    font-family: "Apple Braille";
}


.loginBox2 {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    background-color: antiquewhite;
    text-align: center;
    border: 18px solid green;
    width: 350px;
}






