body {
    background-color: lightblue;

}

.loginBox {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10x;
    background-color: goldenrod;
    text-align: center;
    border-radius: 25px;
    width: 350px;
}

.loginBox p1 {
    font-family: "Apple Braille";
}

.loginBox2 {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    background-color: goldenrod;
    text-align: center;
    border-radius: 25px;
    width: 350px;
}

ul1 {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

h2 {
    color: black;
}

li a:hover:not (.active) {
    background-color: burlywood;
}

.active {
    background-color: seagreen;
}




